html {
    background: linear-gradient(200deg, rgb(138, 249, 199), rgb(87, 228, 249));
    background-attachment: fixed;
    height: 100%;
    min-height: 100%;
  }

  body {
    padding: 1rem 1rem 2rem 1rem;
  }